body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
  display: flex;
  overflow: hidden;
}

.start-modal {
  display: none;
}

.start-modal+.overlay {
  display: none;
}

.start-modal.active+.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 113, 113, 0.3);
  z-index: 1;
}

.start-modal.active {
  display: block;
  width: 600px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  padding: 54px;
}

.start-modal img.icon {
  width: 64px;
  height: 64px;
}

.start-modal h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 14px;
  margin-bottom: 42px;
}

.start-modal .user-guide {
  border-radius: 12px;
  display: flex;
  text-align: left;
  padding: 10px;
  margin: 10px;
  align-items: center;
}

.start-modal .user-guide img {
  height: 45px;
}

.start-modal .user-guide p {
  margin-left: 14px;
  font-size: 15px;
  color: #111;
  line-height: 1.2;
}

.start-modal button {
  width: 300px;
  height: 42px;
  background-color: #0475e6;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-color {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#021748, #5b78db);
}

.background-color.twilight {
  background: linear-gradient(#053d86, #b1bcd0);
}

.background-color.sunrise {
  background: linear-gradient(#0371cb, #c3ae99);
}

.background-color.day {
  background: linear-gradient(#0475e6, #b8c7d4);
}

.background-color.evening {
  background: linear-gradient(#0a3a7c, #9ebddb);
}

button.top-button,
button.bottom-button {
  margin: 12px;
  color: rgb(255, 255, 255, 0.7);
  flex-shrink: 0;
  padding: 0 9px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

button.bottom-button {
  margin-top: auto;
  margin-bottom: 12px;
  margin-left: -52px;
}

button.top-button:hover {
  background-color: rgb(255, 255, 255, 0.24);
}

button.top-button:active img {
  opacity: 1;
}

.top-button img {
  width: 24px;
  opacity: 0.7;
  pointer-events: none;
}

input[type='text'] {
  font-size: 34px;
  color: rgb(255, 255, 255);
  outline: none;
  width: 580px;
  line-height: 0;
}

.partition {
  width: 2px;
  height: 60px;
  background-color: rgb(255, 255, 255, 0.4);
  margin-right: 24px;
}

::placeholder {
  color: rgb(255, 255, 255, 0.6);
}

.engine {
  margin-top: 0;
  transition: all 0.3s cubic-bezier(0.15, 0.82, 0.165, 1);
}

.engine button {
  display: block;
  height: 34px;
  margin: 0px 10px 0px auto;
  padding: 15px;
  box-sizing: content-box;
  cursor: default;
  opacity: 0.4;
}

.engine button img {
  height: 100%;
  pointer-events: none;
}

.engine button.focus {
  opacity: 1;
}

.engine input:checked+img {
  opacity: 1;
}

.suggest {
  width: 380px;
}

.suggest button {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 22px;
  padding: 12px;
  border-radius: 6px;
  cursor: default;
  transition: all 0.05s;
}

.suggest button:focus {
  outline: none;
}

.suggest button.focus {
  background-color: rgb(255, 255, 255, 0.2);
  outline: none;
}

/*settings*/
.settings {
  display: flex;
  flex-flow: column;
  width: 350px;
  height: 100%;
  background-color: #f9f9f9;
  flex-shrink: 0;
  left: 0;
  overflow-y: auto;
  margin-left: -350px;
  transition: margin-left 0.20s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.settings-contents {
  flex: 1;
  padding: 10px;
}

.settings.active {
  margin-left: 0;
}

.topber {
  height: 50px;
  padding-left: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-bottom: #ccc 1px solid;
  font-weight: 500;
}

.object {
  display: flex;
  margin: 12px 0px;
}

.object .key {
  width: 84px;
  text-align: right;
  font-size: 14px;
  margin: 6px 5px 0px 0px;
}

.border {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.object label.selectbox {
  display: block;
  height: 30px;
  width: 100px;
  font-size: 15px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.object select {
  width: 100%;
  height: 100%;
  padding: 5px;
  outline: none;
}

.object .value label.selectbox::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/settings/select.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  pointer-events: none;
}

/*設定の背景の項目*/
.object.background .value {
  display: flex;
  gap: 14px;
}

.object.background .value label {
  border-radius: 8px;
}

.object.background .value label img {
  width: 98px;
  border-radius: 10px;
  border: 4px solid rgb(255, 255, 255, 0);
  padding: 1px;
  /*がたつきをなくす*/
  pointer-events: none;
  user-select: none;
}

.object.background .value input:checked+img {
  border: 4px solid #0683ff;
  padding: 1px;
}

.object.background .value input {
  display: none;
}

.object.background .value p {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.object.color input {
  height: 30px;
}

/*並び順指定*/
.object ul {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.object ul li {
  border: 1px solid #d4d4d4;
  font-size: 15px;
  border-radius: 6px;
  width: 200px;
  padding: 5px;
  cursor: default;
  display: flex;
  align-items: center;
  cursor: move;
  user-select: none;
  transition: all 0.1s;
}

.object ul li.ui-sortable-helper {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  transition: none;
}

ul.main {
  min-height: 40px;
  min-width: 100%;
  padding-bottom: 16px;
}

ul.other {
  min-height: 40px;
  min-width: 100%;
  padding-top: 16px;
}

ul.main li {
  background-color: #ffffff;
}

ul.other li {
  background-color: #e3e3e3;
  border: 1px solid #c8c8c8;
}

.object ul li label {
  cursor: move;
}

.object ul li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 20px;
}

.object ul li label input {
  display: none;
}

.object.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.object button {
  cursor: default;
  min-width: 88px;
  padding: 0 8px;
  height: 24px;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: #fff;
  text-align: center;
  border-radius: 6px;
}

.object button:active {
  background-color: #f7f7f7;
}

.object.sort button {
  margin-top: 6px;
}

footer {
  position: sticky;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .link {
  display: flex;
}

footer small,
footer a {
  font-size: 14px;
  font-weight: 500;
  color: #888;
  line-height: 1.3;
  margin: 0px 4px;
}
